
        body{
            margin: 0;
            padding: 0;
        }

        .div-container{
            background: black;
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            position: relative;
        }

        h1{
            text-transform: uppercase;
            font-size: 80px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 40%;
            left: 20%;
            
           
        }

        @keyframes FadeIn {
            0%{
                opacity: 0;
                
            }

            50%{
                color: rgb(255, 196, 0);
            }

            100%{
                opacity: 2;
                color: black;
            }
            
        }
    

        .letras:nth-child(1){
            animation: FadeIn .7s ease-in;  
            animation-iteration-count: infinite; 
        }
        .letras:nth-child(2){
            animation: FadeIn .7s ease-in;
            animation-delay: .07s;   
            animation-iteration-count: infinite; 
        }
        .letras:nth-child(3){
            animation: FadeIn .7s ease-in;   
            animation-delay: .14s;  
            animation-iteration-count: infinite; 
        }
        
        .letras:nth-child(4){
            animation: FadeIn .7s ease-in; 
            animation-delay: .21s;    
            animation-iteration-count: infinite; 
        }

        .letras:nth-child(5){
            animation: FadeIn .7s ease-in; 
            animation-delay: .28s;    
            animation-iteration-count: infinite; 
        }
        .letras:nth-child(6){
            animation: FadeIn .7s ease-in;
            animation-delay: .35s;     
            animation-iteration-count: infinite; 
        }
        .letras:nth-child(7){
            animation: FadeIn .7s ease-in;
            animation-delay: .42s;     
            animation-iteration-count: infinite; 
        }
        .letras:nth-child(8){
            animation: FadeIn .7s ease-in; 
            animation-delay: .49s;    
            animation-iteration-count: infinite; 
        }
        .letras:nth-child(9){
            animation: FadeIn .7s ease-in;
            animation-delay: .56s;   
            animation-iteration-count: infinite;   
        }
        .letras:nth-child(10){
            animation: FadeIn .7s ease-in;
            animation-delay: .73s; 
            animation-iteration-count: infinite;     
        }
        .letras:nth-child(11){
            animation: FadeIn .7s ease-in; 
            animation-delay: .80s;  
            animation-iteration-count: infinite;   
        }
        .letras:nth-child(12){
            animation: FadeIn .7s ease-in; 
            animation-delay: .87s;  
            animation-iteration-count: infinite;   
        }

        #btn-but{
            position: absolute;
            top: 78%;
            left: 48%;
            width: 100px; 
            height: 40px;
            background: rgba(0, 0, 0, .4);
            color: white;
            border-radius: 10px;
            cursor: pointer;
            
        }

        #btn-but:hover{
            background: cyan;
            color: black;
            border: 1px solid black;
        }

       