
.div-container{
    width: 100%;
   height: 100%;


}

.header-container{
    width: 100vw;
    height: 100vh;
    position: relative;

}

.header-container video{
    width: 100%;
    
}


/*    NAV  **/


.nav-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

.nav-container ul{
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-container ul li{
    float: right;
    list-style-type: none;
    margin-right: 20px;
   
    
}

.nav-container ul li a{
    display: block;
    padding: 15px 19px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .5s ease-in-out;

}

.nav-container ul li a:hover{
    
    color: cyan;
    transform: translateY(2px);
    font-size: 22px;

}

/** SECTION-1  */

.section-1{
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    
   
}


